.add-block-button {
	width: 32px;
	height: 32px;
	appearance: none;
	background-color: white;
	color: navy;
	border: navy solid 2px;
	padding: 4px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.25),
							3px 1px 3px -2px rgba(0, 0, 0, 0.25),
							-3px 1px 3px -2px rgba(0, 0, 0, 0.25);
}

.add-block-button > svg {
	width: 100%;
	height: 100%;
}

.add-block-button:hover {
	background-color: navy;
	color: white;
}
