.block-dialog {
	padding: 0;
	border: none;
	background-color: var(--sc_bg_body__primary);
	border: var(--sc_border_field);
}

.block-dialog::backdrop {
	backdrop-filter: blur(4px);
}

.block-dialog-body {
	padding: 16px;
	overflow-y: auto;
}

.block-dialog-title {
	padding: 0;
	margin: 0;
	font-size: 1.75rem;
	line-height: 1.5;
}

.block-dialog-list {
	list-style: none;
	display: flex;
	flex-flow: column nowrap;
	gap: 1px;
	margin: 16px 0;
	padding: 0;
}

.block-dialog-item {
	appearance: none;
	display: block;
	width: 100%;
	padding: 4px;
	margin: 0;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.04em;
	cursor: pointer;
	background: none;
	border: 2px solid transparent;
	border-radius: 4px;
	transition: .25s;
	color: var(--sc_txt_btn__secondary);
	text-decoration: none;
	background-color: transparent;
	border-color: currentcolor;
}

.block-dialog-item:hover,
.block-dialog-item:active,
.block-dialog-item:focus-visible {
	background-color: var(--sc_bg_btn__secondary);
}

.block-dialog-item:disabled {
	pointer-events: none;
	color: var(--sc_txt_disabled);
}

.block-dialog-cancel {
	appearance: none;
	display: block;
	width: 100%;
	padding: 4px;
	margin: 0;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.04em;
	cursor: pointer;
	background: none;
	border: 2px solid transparent;
	border-radius: 4px;
	transition: .25s;
	color: var(--sc_txt_btn__primary);
	text-decoration: none;
	background-color: var(--sc_bg_btn__primary);
}

.block-dialog-cancel:hover,
.block-dialog-cancel:active,
.block-dialog-cancel:focus-visible {
	filter: brightness(87%);
}

.block-dialog-cancel:disabled {
	background-color: var(--sc_bg_disabled);
}
