@charset "utf-8";

:root {
	--space_ctrls: 0.25vmin;
	font-size: clamp(32px, 2rem + 1vmin, 8vmin);

	/* プリミティブカラー */
	--white: #ffffff;
	--sea-1200: #00004F;
	--sea-1100: #000060;
	--sea-1000: #000071;
	--sea-900: #0000be;
	--sea-800: #0024ce;
	--sea-700: #0031d8;
	--sea-600: #003ee5;
	--sea-500: #0946f1;
	--sea-400: #4979f5;
	--sea-300: #7096f8;
	--sea-200: #9db7f9;
	--sea-100: #c5d7fb;
	--sea-50: #e8f1fe;
	--sumi-1200: #000000;
	--sumi-1100: #080808;
	--sumi-1000: #111111;
	--sumi-900: #1a1a1c;
	--sumi-800: #414143;
	--sumi-700: #626264;
	--sumi-600: #757578;
	--sumi-500: #949497;
	--sumi-400: #b4b4b7;
	--sumi-300: #d8d8db;
	--sumi-200: #e8e8eb;
	--sumi-100: #f1f1f4;
	--sumi-50: #f8f8fb;
	--forest-1200: #032213;
	--forest-1100: #08351f;
	--forest-1000: #0c472a;
	--forest-900: #115a36;
	--forest-800: #197a4b;
	--forest-700: #1a8b56;
	--forest-600: #259d63;
	--forest-500: #2cac6e;
	--forest-400: #51b883;
	--forest-300: #71c598;
	--forest-200: #9bd4b5;
	--forest-100: #c2e5d1;
	--forest-50: #e6f5ec;
	--wood-1200: #662e00;
	--wood-1100: #833b00;
	--wood-1000: #9c4600;
	--wood-900: #b65200;
	--wood-800: #c16800;
	--wood-700: #c87504;
	--wood-600: #cd820a;
	--wood-500: #d18d0f;
	--wood-400: #d69c2b;
	--wood-300: #dcac4d;
	--wood-200: #e5c47f;
	--wood-100: #efdbb1;
	--wood-50: #f8f1e0;
	--sun-1200: #640101;
	--sun-1100: #890101;
	--sun-1000: #af0000;
	--sun-900: #d50000;
	--sun-800: #ec0000;
	--sun-700: #fa1606;
	--sun-600: #ff220d;
	--sun-500: #ff4b36;
	--sun-400: #ff5838;
	--sun-300: #ff7b5c;
	--sun-200: #ffa28b;
	--sun-100: #ffc8b8;
	--sun-50: #ffe7e6;

	/* セマンティックカラー */
	--sc_txt_body: var(--sumi-900);
	--sc_txt_body__small: var(--sumi-1200); /* 小さな文字用 */
	--sc_txt_desc: var(--sumi-700);
	--sc_txt_placeholder: var(--sumi-600);
	--sc_txt_onFill: var(--white);
	--sc_txt_link: var(--sea-800);
	--sc_txt_link__hover: var(--sea-900);
	--sc_txt_link__active: var(--sea-900);
	--sc_txt_link__visited: var(--sea-900);
	--sc_txt_alert: var(--sun-800);
	--sc_txt_disabled: var(--sumi-500);
	--sc_txt_icon: var(--sumi-900);
	--sc_txt_btn__primary: var(--white);
	--sc_txt_btn__secondary: var(--sea-800);
	--sc_txt_btn__tertiary: var(--sea-800);
	--sc_border_field: 1px solid var(--sumi-900);
	--sc_border_divider: 1px solid var(--sumi-300);
	--sc_border_focused: 2px solid var(--wood-600);
	--sc_border_selected: 2px solid var(--sea-800);
	--sc_border_disabled: 1px solid var(--sumi-300);
	--sc_border_alert: 2px solid var(--sun-800);
	--sc_bg_body__primary: var(--sumi-50);
	--sc_bg_body__secondary: var(--sumi-200);
	--sc_bg_body__tertiary: var(--sumi-100);
	--sc_bg_btn__primary: var(--sea-800);
	--sc_bg_btn__secondary: var(--sea-50);
	--sc_bg_disabled: var(--sumi-500);
	--sc_bg_alert: var(--sun-800);
	--sc_bg_shadow: var(--sumi-700);
}

/* セマンティックカラー（ダークモード時）
@media (prefers-color-scheme: dark) {
	:root {
		--sc_txt_body: var(--white);
		--sc_txt_body__small: var(--white);
		--sc_txt_desc: var(--sumi-400);
		--sc_txt_placeholder: var(--sumi-500);
		--sc_txt_onFill: var(--white);
		--sc_txt_link: var(--sea-300);
		--sc_txt_link__hover: var(--sea-200);
		--sc_txt_link__active: var(--sea-200);
		--sc_txt_link__visited: var(--sea-200);
		--sc_txt_alert: var(--sun-500);
		--sc_txt_disabled: var(--sumi-600);
		--sc_txt_icon: var(--white);
		--sc_txt_btn__primary: var(--white);
		--sc_txt_btn__secondary: var(--sea-300);
		--sc_txt_btn__tertiary: var(--sea-300);
		--sc_border_field: 1px solid var(--white);
		--sc_border_divider: 1px solid var(--sumi-700);
		--sc_border_focused: 2px solid var(--wood-600);
		--sc_border_selected: 2px solid var(--sea-300);
		--sc_border_disabled: 1px solid var(--sumi-300);
		--sc_border_alert: 2px solid var(--sun-500);
		--sc_bg_body__primary: var(--sumi-900);
		--sc_bg_body__secondary: var(--sumi-700);
		--sc_bg_body__tertiary: var(--sumi-800);
		--sc_bg_btn__primary: var(--sea-300);
		--sc_bg_btn__secondary: var(--sea-1100);
		--sc_bg_disabled: var(--sumi-600);
		--sc_bg_alert: var(--sun-500);
		--sc_bg_shadow: var(--white);
	}
}
*/
@media (orientation: portrait) {
	:root {
		--gr_b: "h h h h h h h h h h"
						"m m m m m m m m m m"
						"m m m m m m m m m m"
						"m m m m m m m m m m"
						"m m m m m m m m m m"
						"m m m m m m m m m m"
						"m m m m m m m m m m"
						"f f f f f f f f f f"
						"f f f f f f f f f f"
						"f f f f f f f f f f";
						
		--gr_f: "d d d d d d d d d d"
						"d d d d d d d d d d"
						"d d d d d d d d d d"
						"r r r r r r r r r r"
						"r r r r r r r r r r"
						"s s s s s s s c c c"
						"s s s s s s s c c c";
	}
}

@media (orientation: landscape) {
	:root {
		--gr_b: "h h m m m m m m m m"
						"h h m m m m m m m m"
						"h h m m m m m m m m"
						"h h m m m m m m m m"
						"h h m m m m m m m m"
						"h h m m m m m m m m"
						"f f f f f f f f f f"
						"f f f f f f f f f f"
						"f f f f f f f f f f"
						"f f f f f f f f f f";

		--gr_f: "d d d d d d d r r r"
						"d d d d d d d r r r"
						"d d d d d d d r r r"
						"d d d d d d d r r r"
						"s s s s s s s c c c"
						"s s s s s s s c c c"
						"s s s s s s s c c c";
	}
}

*,::before,::after {
	box-sizing: border-box;
	color: var(--sc_txt_body);
}

body {
	background-color: var(--sc_bg_body__primary);
}

img {
	max-width: 100%;
}

svg {
	fill: currentcolor;
}

small {
	font-size: 0.8em;
}



*:focus-visible,
.bl_dice:focus-within {
	outline: var(--sc_border_focused);
	outline-offset: 2px;
	animation-name: focusEffect;
	animation-duration: 0.3s;
}

@keyframes focusEffect {
	from {
		outline-width: 1px;
		outline-offset: 8px;
	}

	to {
		outline-width: 2px;
		outline-offset: 2px;
	}
}

.el_btn {
	display: block;
	padding: 16px;
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.04em;
	cursor: pointer;
	background: none;
	border: 2px solid transparent;
	border-radius: max(
		min(4px, calc(40px - 100%) * 9999),
		min(8px, calc(100% - 40px) * 9999, calc(120px - 100%) * 9999),
		min(12px, calc(100% - 120px) * 9999)
	);
	transition: .25s;
	margin: var(--space_ctrls);
}

.el_btn:disabled {
	pointer-events: none;
}


.ly_display {
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
  grid-auto-flow: row;
	grid-template-areas: var(--gr_b);
	gap: 0 0;
}

.ly_display_header {
	grid-area: h;
	border: var(--sc_border_divider);
}

.ly_display_main {
	grid-area: m;
	border: var(--sc_border_divider);
	overflow-y: auto;
}




.ly_display_footer {
	grid-area: f;
	border: var(--sc_border_divider);

}

.ly_footer {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: row;
	grid-template-areas: var(--gr_f);
	gap: 0 0;
}
/*
.ly_footer_dice {
	display: flex;
	flex-flow: row nowrap;
	font-size: 2em;
}
*/

.bl_dice_wrapper {
	grid-area: d;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.bl_dice {
	cursor: pointer;
	line-height: 1;
	letter-spacing: 0;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size);
	height: var(--size);
	padding: 0;
	text-align: center;
}


/* Support for "Container Query" */
@supports (container-type: size) {
	.bl_dice_wrapper {
		container: layout / size;
	}

	.bl_dice {
		--size: calc(min(100cqh, 20cqw)*0.95);
		font-size: calc(var(--size)*0.95);

	}
}

@supports not (container-type: size) {
	.bl_dice {
		--size: clamp(32px, 2rem + 1vmin, 15vmin);
		font-size: var(--size);
	}
}



.bl_dice > span {
	color: var(--sc_txt_body);
}

.bl_dice:has(:checked) > span {
	color: var(--sc_txt_disabled);
}

.bl_dice_chkbox {
	appearance: none;
	position: absolute;
	width: 1px;
	height: 1px;
	clip-path: inset(100%);
}


.el_btn.el_btn_roll {
	grid-area: r;
	color: var(--sc_txt_btn__secondary);
	text-decoration: none;
	background-color: transparent;
	border-color: currentcolor;
}

.el_btn.el_btn_roll:hover,
.el_btn.el_btn_roll:active {
	background-color: var(--sc_bg_btn__secondary);
}

.el_btn.el_btn_roll:disabled {
	color: var(--sc_txt_disabled);
}


.ly_footer_score {
	/*
	display: flex;
	flex-flow: row nowrap;
	font-size: 2em;
	*/

}

.el_btn.el_btn_submit {
	grid-area: c;
	color: var(--sc_txt_btn__primary);
	text-decoration: none;
	background-color: var(--sc_bg_btn__primary);
}

.el_btn.el_btn_submit:hover,
.el_btn.el_btn_submit:active {
	filter: brightness(87%);
}

.el_btn.el_btn_submit:disabled {
	background-color: var(--sc_bg_disabled);
}

.bl_select {
	grid-area: s;

	position: relative;
	display: flex;
	flex-flow: row nowrap;
	cursor: pointer;
	padding: var(--space_ctrls);
}

.bl_select > select {
	width: 100%;
	color: var(--sc_txt_body);
	text-indent: 1ch;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--sc_bg_body__primary);
	border: var(--sc_border_field);
	border-radius: max(
		min(4px, calc(40px - 100%) * 9999),
		min(8px, calc(100% - 40px) * 9999, calc(120px - 100%) * 9999),
		min(12px, calc(100% - 120px) * 9999)
	);
	align-items: center;
}


.bl_select::after {
	position: absolute;
	align-self: center;
	right: .1em;
	display: flexbox;
	width: 1em;
	height: 1em;
	content: "";
	background-image: url('data:image/svg+xml;utf-8,<svg viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.1L3 8L4 7L12 15L20 7L21 8L12 17.1Z"/></svg>');
}

.bl_select > select::-ms-expand {
	display: none;
}
.bl_select > select:disabled {
	pointer-events: none;
	border: var(--sc_border_disabled);
}
/*
@media (prefers-color-scheme: dark) {
	.bl_select::after {
		filter: invert(1);
	}
}
*/
@media (max-width: 200px) {
	.bl_select::after {
		display: none;
	}
}
