@charset "utf-8";

:root {
	--height_header: 48px;
	--height_footer: 128px;
	--space_left: 20dvw;

	--body_h: 100dvh;
	--body_w: 95dvw;
	--footer_h: 20dvh;
	--header_w: 20dvw;
	--header_h: calc(var(--body_h) - var(--footer_h));
}

*,::before,::after {
	box-sizing: border-box;
}

/* フォーカス時のスタイル */
*:focus-visible{
	outline: 2px solid #cd820a;
	outline-offset: 2px;
	animation-name: focusEffect;
	animation-duration: 0.3s;
}

@keyframes focusEffect {
	from {
		outline-width: 1px;
		outline-offset: 8px;
	}

	to {
		outline-width: 2px;
		outline-offset: 2px;
	}
}

.ly_display {
	position: relative;
	width: var(--body_w);
	height: var(--body_h);
}


.ly_display_header {
	position: fixed;
	width: var(--header_w);
	height: var(--header_h);
	top: 0;
	left: 0;
	padding: 8px;
	background-color: aquamarine;
}

.ly_display_main {
	margin-bottom: var(--footer_h);
	margin-left: var(--header_w);
}


.ly_display_footer {
	position: fixed;
	width: 100%;
	height: var(--footer_h);
	bottom: 0;
	left: 0;
	padding: 4px;
	background-color: azure;
	display: flex;
	flex-flow: column nowrap;
	gap: 8px;
}

.ly_footer_dice {
	display: flex;
	flex-flow: row nowrap;
	border: 1px solid black;
	padding: 4px;
	justify-content: space-between;
}

.bl_dice_wrapper {
	display: flex;
	flex: auto;
	flex-flow: row nowrap;
	justify-content: center;
	gap: clamp(4px, 4px + 0.5dvw, 16px);
}

.bl_dice {
	--size: 8dvh;

	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	color: black;
	font-size: var(--size, 16dvw);
	height: var(--size, 16dvw);
	width: var(--size, 16dvw);
}

.bl_dice:has(:checked) {
	color: gray;
}

.bl_dice:focus-within {
	outline: 2px solid #cd820a;
	outline-offset: 2px;
	animation-name: focusEffect;
	animation-duration: 0.3s;
	background-color: #efdbb1;
}

.bl_dice_chkbox {
	appearance: none;
	position: absolute;
	width: 1px;
	height: 1px;
	clip-path: inset(100%);
}

.el_btn.el_btn_roll {
	display: block;
	flex: auto;
	padding: 2px;
	font-size: 4dvh;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	letter-spacing: 0.04em;
	cursor: pointer;
	background-color: #111111;
	border: 2px solid transparent;
	color: #ffffff;
	border-radius: max(
		min(4px, calc(40px - 100%) * 9999),
		min(8px, calc(100% - 40px) * 9999, calc(120px - 100%) * 9999),
		min(12px, calc(100% - 120px) * 9999)
	);
}





.ly_footer_score {
	display: flex;
	flex-flow: row nowrap;
	gap: 4px;
	border: 1px solid black;
	padding: 2px;
	font-size: 4dvh;
}

.el_selectBox {
	flex: auto;
	font-size: 1em;
}





.el_btn {
	margin: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	background: none;
	border: none;
}

.el_btn_submit {
	flex: 0 0 50px;
	font-size: 1em;
}
