@charset "utf-8";

:root {
	box-sizing: border-box;
}

.js_dice {
	margin: 16px;
	padding: 0;
	color: black;
	font-size: 40px;
}

.js_dice:has(:checked) {
	color: gray;
}

.js_dice_chkbox {
	appearance: none;
	position: absolute;
	width: 1px;
	height: 1px;
	clip-path: inset(100%);
}

.js_btnRoll {
	font-size: 32px;
}
