@charset "utf-8"

button {
  appearance: none;
}

.el_menuBtn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  gap: 0.02rem;
  font-size: 0.75rem;
  line-height: 1;
  background-color: var(--sc_bg_btn__primary);
  color: var(--sc_txt_btn__primary);
  border: var(--sc_border_field);
  border-radius: 4px;
  margin: 0.1rem;
  & > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}




/* ダイアログ表示中は、裏側にあるページをスクロールさせない */
html:has(dialog[open]) {
	overflow: hidden;
}

/* `max-*` は、デフォルトのスタイル（例：`dialog:-internal-dialog-in-top-layer`）を上書きするため */
.ly_dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	max-width: 100dvw;
	height: 100dvh;
	max-height: 100dvh;
	padding: 0;
	border: none;
	background-color: var(--sc_bg_body__tertiary);
	border: var(--sc_border_field);
	display: flex;
	align-items: center;
	justify-content: center;
}
.ly_dialog:not([open]){
	display: none;
}

.bl_menuHeader_btnIcon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 2.625rem; /* bl_header と違い画面占有率を気にしない為 rem */
	height: 2.625rem;
	padding: 0;
	margin: 0;
	font-size: 0.7rem;
	color: var(--sc_txt_body);
	text-decoration: none;
	cursor: pointer;
	background: none;
	border: none;
}

.bl_menuHeader_btnIcon > svg {
	width: 1.625rem;
	height: 1.625rem;
}

/* スマホの横画面想定（横5に対して縦6以下）
 * この場合、ボタン配列は5列4行の構成とする
 *
 *
 *
 *
 */
.ly_calc {
	--ly_btnArray:
		"nav main main main aside"
		"nav main main main aside"
		"nav main main main aside"
		"nav main main main aside";
	--ly_numArray:
		"b7 b8 b9"
		"b4 b5 b6"
		"b1 b2 b3"
		"b0 bd be";
	--num_hBox: 4;
	--num_wBox: 5;
	--size_btn: min(100dvw / var(--num_wBox), 100dvh / (var(--num_hBox) + 2));
	--flexFlow_nav: column nowrap;
	/*--width_nav: var(--size_btn);*/
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--sc_bg_body__primary);
}

.is_leftHand .ly_calc {
	--ly_btnArray:
		"aside main main main nav"
		"aside main main main nav"
		"aside main main main nav"
		"aside main main main nav";
	--ly_numArray:
		"b7 b8 b9"
		"b4 b5 b6"
		"b1 b2 b3"
		"be bd b0";
}

@media (max-aspect-ratio: 5/6) {
	/* スマホの縦画面想定（横5に対して縦6以上）
	 * この場合、ボタン配列は4列5行の構成とする
	 *
	 *
	 *
	 *
	 */
  .ly_calc {
		--ly_btnArray:
			"nav  nav  nav  nav  "
			"main main main aside"
			"main main main aside"
			"main main main aside"
			"main main main aside";
		--num_hBox: 5;
		--num_wBox: 4;
		--flexFlow_nav: row nowrap;
		--width_nav: 100dvw;
	}
	.is_leftHand .ly_calc {
		--ly_btnArray:
		"nav  nav  nav  nav  "
		"aside main main main"
		"aside main main main"
		"aside main main main"
		"aside main main main";
	}
}

.ly_calc_header {
	width: 100dvw;
	min-height: calc(var(--size_btn) * 2);
}

#js_calc_expression {
	width: calc(var(--size_btn) * var(--num_wBox));
	calc(var(--size_btn) * 1.5)
}

.ly_calc_btnArray {
	display: grid;
	grid-template-areas:var(--ly_btnArray);
}

.ly_calc_nav {
	grid-area: nav;
	display: flex;
	flex-flow: var(--flexFlow_nav);
	/*width: var(--width_nav);*/
}

.ly_calc_main {
	grid-area: main;
	display: grid;
	grid-template-areas: var(--ly_numArray);
}

.ly_calc_b1 {grid-area: b1;}
.ly_calc_b2 {grid-area: b2;}
.ly_calc_b3 {grid-area: b3;}
.ly_calc_b4 {grid-area: b4;}
.ly_calc_b5 {grid-area: b5;}
.ly_calc_b6 {grid-area: b6;}
.ly_calc_b7 {grid-area: b7;}
.ly_calc_b8 {grid-area: b8;}
.ly_calc_b9 {grid-area: b9;}
.ly_calc_b0 {grid-area: b0;}
.ly_calc_bd {grid-area: bd;}
.ly_calc_be {grid-area: be;}

.ly_calc_aside {
	grid-area: aside;
	display: flex;
	flex-flow: column nowrap;
}

.el_calcBtn {
	margin: 0;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	background: none;
	height: calc(var(--size_btn) * 0.9);
	width: calc(var(--size_btn) * 0.9);
	appearance: none;
	border-radius: 25%;
	border: 2px solid transparent;
}

.el_calcBtn.el_calcBtn__primary {
	color: var(--sc_txt_btn__primary);
	background-color: var(--sc_bg_btn__primary);
}

.el_calcBtn.el_calcBtn__secondary {
	color: var(--sc_txt_btn__secondary);
	background-color: var(--sc_bg_btn__secondary);
	border-color: currentcolor;
}

.el_calcBtn.el_calcBtn.el_calcBtn__tertiary {
	color: var(--sc_txt_body);
	background-color: transparent;
	border: var(--sc_border_field);
}
