.c02ly_excel2md {
	padding: 8px;
	width: 100dvw;
  height: 100dvh;
	display: flex;
	flex-flow: column nowrap;
}

.c02bl_form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.c02bl_form_block {
	display: block;
	width: 100%;
	margin: 1rem 0;
}

.c02bl_form_label {
	display: block;
	align-self: flex-start;
}

.c02bl_form_textArea {
	display: block;
	width: 100%;
	min-height: 10rem;
}

.c02bl_form_output {
	display: block;
	width: 100%;
	margin: 1rem 0;
}
