#d01js_wareki_category {

}

#d01js_wareki_num {

}

.d01bl_form {
	margin-bottom: 1rem;
}

.d01bl_form_label {

}

.d01bl_form_inputs {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 0.5rem;
}

.d01bl_form_dateInput {

}

.d01bl_form {

}
