.list-item {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	column-gap: 4px;
}

.list-item-input {
	flex-grow: 1;
	flex-shrink: 1;
	appearance: none;
	height: 100%;
	min-width: 10ch;
	margin: 0;
	padding: 8px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;
	color: var(--sc_txt_body);
	background-color: var(--sc_bg_body__primary);
	border-radius: 2px;
	border: var(--sc_border_field);
	transition: border-color .25s, box-shadow .25s;
	text-indent: 0;
}

.list-item-buttons {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 11ch;
	justify-self: end;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	column-gap: 2px;
}

.list-item-button {
	appearance: none;
	display: flexbox;
	padding: 4px;
	margin: 0;
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.04em;
	cursor: pointer;
	background: none;
	border: 2px solid transparent;
	border-radius: 2px;
	transition: .25s;
	text-decoration: none;
}

.list-item-button:disabled {
	pointer-events: none;
}

.list-item-button.list-item-button-primary {
	color: var(--sc_txt_btn__primary);
	text-decoration: none;
	background-color: var(--sc_bg_btn__primary);
}

.list-item-button.list-item-button-primary:hover,
.list-item-button.list-item-button-primary:active,
.list-item-button.list-item-button-primary:focus-visible {
	filter: brightness(87%);
}

.list-item-button.list-item-button-primary:disabled {
	background-color: var(--sc_bg_disabled);
}

.list-item-button.list-item-button-secondary {
	color: var(--sc_txt_btn__secondary);
	background-color: transparent;
	border-color: currentcolor;
}

.list-item-button.list-item-button-secondary:hover,
.list-item-button.list-item-button-secondary:active,
.list-item-button.list-item-button-secondary:focus-visible {
	background-color: var(--sc_bg_btn__secondary);
}

.list-item-button.list-item-button-secondary:disabled {
	color: var(--sc_txt_disabled);
}
